/* import the font "Montserrat" from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=Orbitron&family=Space+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Mono', monospace;
}

/* NavBar styling */

nav {
    box-sizing: border-box;
}

/* Styles the buttons on the navigation menu, sets padding, and font family */

nav button {
    border: none;
    padding: 0;
    font-family: 'Space Mono', monospace;
    background: transparent;
    cursor: pointer;
    color: inherit;
}

.navbar1 {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding: 0 20px;
    background: #19191c;
    color: #f9f9f9;
}

.navlogo {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 120px;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
}

.nav-buttons {
    display: flex;
    transition: 0.3s;
}

.nav-buttons>button {
    position: relative;
    flex: 0 0 36px;
    padding: 0 26px;
    display: grid;
    place-items: center;
    font-size: 28px;
    height: 72px;
    width: 36px;
    opacity: 0.3;
    transition: 0.7s;
}

.nav-buttons>button:hover {
    color: #FFFF33;
    opacity: 0.8;
}

/* Heading */

.convert-heading {
    text-align: center;
    margin-top: 11%;
    margin-bottom: 30px;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
}

/* Conversion container */

/* centers the container and sets its colors */
.main {
    width: 60vw;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    border: 1.4px solid #000000;
    background: #e5e5e5;
}

label {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.searchBox {
    margin: 3px 1px 10px 1px;
}

.conv-res-btns>.btn {
    width: 200px;
    font-family: 'Space Mono', monospace;
    background: #19191c;
    border: none;
    font-weight: normal;
    text-transform: uppercase;
    transition: 0.4s;
}

.conv-res-btns>.btn:hover {
    color: #FFFF33;
    background: #000000;
}

#finalValue {
    font-family: 'Space Mono', monospace;
}

/* The tabs menu */

.tabs-heading {
    font-family: 'Space Mono', monospace;
    margin: 45px 0 35px 0;
}

[data-tab-info] {
    display: none;
}

.active[data-tab-info] {
    display: block;
}

.tab-content {
    display: flex;
    justify-content: left;
    font-family: 'Space Mono', monospace;
    font-weight: normal;
    border: 1px solid #ccc;
    width: 60vw;
    max-width: 60vw;
    min-width: 60vw;
    margin: auto;
    height: 300px;
}

.tabs__tab > h3 {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    margin: 20px 20px;
}

.tabs__tab > p {
    font-family: 'Space Mono', monospace;
    margin: 0 20px;
}

.tabs {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #f1f1f1
}

.tabs span {
    padding: 6px 10px;
    border: 1px solid #000000;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
    transition: 0.3s;
}

.tabs span:hover {
    cursor: pointer;
    background-color: #ddd;
}

/* Footer */

footer {
    background-color: #19191c;
    color: #fff;
    margin-top: 66px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    height: 200px;
  }
  
  .footer-column {
    width: 30%;
    text-align: center;
  }

  .footer-element {
    padding-top: 12px;
    text-align: left;
  }

  .footer-element1 {
    text-align: left;
    border-bottom: 1.5px solid #fff;
    font-size: 20px;
     font-family: 'Space Mono', monospace;
     width: 60%;
  }

/* Centers the nav menu and adds right margin */

@media only screen and (min-width: 600px) {
    .nav-buttons {
        flex: 1 1 auto;
        justify-content: center;
        margin-right: 120px;
    }
}

@media only screen and (max-width: 430px) {
    .convert-heading {
        width: 100%;
        margin-top: 25%;
        font-size: 28px;
    }

    .heading {
        font-size: 60px;
    }

    #finalAmount h2,
    .finalValue {
        font-size: 40px;
    }

    .btn {
        width: 36%;
    }
}

@media (max-width: 768px) {
    .main {
        width: 100%;
    }
    .footer-container {
        flex-wrap: wrap;
        height: fit-content;
      }
      .footer-column {
        width: 100%;
        text-align: left;
    }
}