/* import the font "Montserrat" from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Crimson+Text&family=IBM+Plex+Sans&family=Space+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* GIF styling */

.loading-gif {
    width: 26px;
    height: 20px;
    padding-left: 10px;
}

/* NavBar styling */

nav {
    box-sizing: border-box;
}

/* Styles the buttons on the navigation menu, sets padding, and font family */

nav button {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    color: inherit;
}

.navbar1 {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding: 0 20px 0 16px;
    background: #19191c;
    color: #f9f9f9;
}

.navlogo {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 120px;
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
}

.nav-buttons {
    display: flex;
    transition: 0.3s;
}

.nav-buttons>button {
    position: relative;
    flex: 0 0 36px;
    padding: 0 26px;
    display: grid;
    place-items: center;
    font-size: 2rem;
    height: 72px;
    width: 36px;
    opacity: 0.3;
    transition: 0.7s;
}

.nav-buttons>button:hover {
    color: #FFFF33;
    opacity: 0.8;
}

.nav-buttons>a {
    position: absolute;
    flex: 0 0 36px;
    padding: 0 26px;
    right: 0;
    color: #f9f9f9;
    display: grid;
    place-items: center;
    font-size: 1rem;
    height: 72px;
    width: fit-content;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.7s;
}

.nav-buttons>a:hover {
    color: #FFFF33;
    opacity: 0.8;
}

/* Heading */

.convert-heading {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 30px;
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    text-transform: capitalize;
    word-spacing: 5px;
    color: #19191C;
}

/* Live price container */

/* centers the container and sets its colors */
.main {
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    border: none;
    background: #FFFDE6;
}

.main h4 {
    width: 70%;
    margin: auto;
    text-align: left;
    font-family: 'Asap', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 550;
    padding: 16px 0;
    color: #19191C;
}

.price {
    font-family: 'Crimson Text', serif;
    font-size: 1.4rem;
    padding-left: 6px;
}

.crypto-icons {
    padding-right: 6px;
    background: transparent;
    color: #eca200;
    transition: 0.6s;
}

.crypto-icons:hover {
    color: #000000dc;
    opacity: 0.8;
    cursor: pointer;
}

/* BTC to EUR convert section */

.btceur-heading {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    margin: 45px 0 35px;
    color: #19191C;
}

.btceur-convert {
    width: fit-content;
    margin: 0 auto;
    text-align: left;
    border: 2px solid #ffee00;
    border-radius: 6px;
    padding: 16px 24px;
}

.btceur-convert label {
    font-family: 'IBM Plex Sans', sans-serif;
    padding-right: 6px;
    font-size: 1.1rem;
}

.btceur-convert input, .btceur-convert span {
    font-family: 'Crimson Text', serif;
    font-size: 1.2rem;
    padding: 3px;
    border: none;
}

/* The tabs menu */

.tabs-heading {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 55px 0 25px 0;
    font-size: 3rem;
    text-align: center;
    color: #19191C;
    text-transform: capitalize;
}

[data-tab-info] {
    display: none;
}

.active[data-tab-info] {
    display: block;
}

.tab-content {
    background: #FFFDE6;
    border: 1px solid #ffffff;
    border-radius: 6px;
    width: 80%;
    margin: 30px auto;
    height: auto;
    padding: 24px;
}

.tabs__tab>h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

.tabs__tab>p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

.tabs {
    width: fit-content;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border: 2px solid #ffee00;
    border-radius: 6px;
    color: #19191C;
}

.tabs span {
    padding: 6px 10px;
    border: none;
    font-size: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    transition: 0.3s;
}

.tabs span:hover {
    cursor: pointer;
    background-color: #ddd;
}

.read-more-button {
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background: #FFFDE6;
    border: none;
    padding-top: 10px;
    transition: 0.6s;
}

.read-more-button:hover {
    opacity: 0.6;
}

.hidden-text {
    display: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

/* Definitions */

.def-h1 {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    letter-spacing: 1.8px;
    color: #19191C;
}

.def-container {
    width: 80%;
    margin: 30px auto;
    padding: 24px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background: #FFFDE6;
}

.def-container>.definitions-div {
    margin: 16px 0;
}

.definitions-div>p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    color: #333;
}

/* Footer */

footer {
    background-color: #19191c;
    color: #fff;
    margin-top: 66px;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 30px;
    height: 200px;
}

.footer-column {
    width: 30%;
    text-align: center;
    height: 90%;
}

.footer-column:last-child {
    position: relative;
    bottom: 0;
    width: 20%;
    padding: 0;
    height: 25px;
    margin-top: auto;
}

.footer-icons {
    margin: 0 5px;
    transition: 0.5s;
}

.footer-icons:hover {
    opacity: 0.5;
}

.footer-element {
    padding: 12px 0;
    text-align: left;
    color: #f9f9f9;
}

.footer-element1 {
    text-align: left;
    border-bottom: 1.5px solid #ddd;
    font-size: 1.3rem;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 90%;
    font-weight: bolder;
    text-transform: uppercase;
}

.footer-element>a {
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    color: #f9f9f9;
    transition: 0.7s;
}

.footer-element>a:hover {
    opacity: 0.5;
}

/* Centers the nav menu and adds right margin */

@media only screen and (min-width: 768px) {
    .nav-buttons {
        flex: 1 1 auto;
        justify-content: center;
        margin-right: 120px;
    }
}

@media only screen and (max-width: 430px) {

    .navlogo {
        font-size: 1.2rem;
    }

    .nav-buttons>a {
        display: none;
    }

    .main {
        width: 85%;
        padding: 0;
    }

    .convert-heading {
        margin-top: 25%;
        font-size: 2rem;
        padding-bottom: 3%;
    }

    .btceur-heading {
        font-size: 2rem;
    }

    .btceur-convert {
        width: 85%;
        padding: 14px 18px;
    }

    .btceur-convert input {
        width: 30%;
    }

    .tabs-heading {
        margin-top: 15%;
        font-size: 2rem;
        padding-bottom: 3%;
    }

    .tab-content {
        width: 85%;
    }

    .def-h1 {
        font-size: 2rem;
    }

    .footer-container {
        flex-wrap: wrap;
        height: fit-content;
    }

    .footer-element1 {
        padding-top: 16px;
    }

    .footer-column {
        width: 100%;
        text-align: left;
    }

    .footer-column:last-child {
        display: inline-flex;
        flex-direction: row-reverse;
        height: inherit;
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 768px) and (min-width: 430px) {

    .nav-buttons>a {
        display: none;
    }

    .main {
        padding: 0;
        margin: 1px auto;
        width: 60%;
    }

    .main h4 {
        padding: 16px 16px;
        text-align: left;
    }

    .footer-container {
        flex-wrap: wrap;
        height: fit-content;
    }

    .footer-column {
        width: 100%;
        text-align: left;
    }

    .footer-column:last-child {
        display: inline-flex;
        flex-direction: row-reverse;
        height: inherit;
        width: 100%;
        margin-top: 20px;
    }
}